.root {
  margin: 20px;
}

.root > * {
  margin-top: 10px;
}

.searchArea {
  margin-top: 5px;
}

.listTable {
  min-width: 50vw;
}

.title {
  padding: 4px;
  text-align: left;
}

.data {
  padding: 4px;
}
