h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.root {
  margin: 20px;
}

.root > * {
  margin-top: 30px;
}

.input > * {
  margin-top: 10px;
}

.inputArea {
  display: flex;
}

.inputArea > *:first-of-type {
  margin-right: 10px;
}

.inputField {
  display: flex;
}

.inputField__Title {
  margin-right: 10px;
}

.searchArea {
  margin-top: 5px;
}

.listTable {
  width: 980px;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
}

.title {
  padding: 4px;
  text-align: left;
}

.data {
  padding: 10px 0;
  height: 20px;
  vertical-align: middle;
}

.action {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 20px;
}

.action > * {
  margin-left: 5px;
}

.action > *:first-of-type {
  margin-left: 0;
}
